@keyframes background-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-animate {
  background-size: 200% 200%;
  animation: background-animate 3s ease infinite;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.animate-shine {
  animation: shine 1.2s ease-in-out;
}
