.dark .ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-title-content,
.dark .ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-title-content {
  flex: auto;
  /* background-color: #2d3748; bg-gray-800 */
  color: #ffffff;
   &:hover {
    background-color: #242e3f;
    width: 100%;
  }

}
.dark .ant-dropdown .ant-dropdown-menu,
.dark .ant-dropdown-menu-submenu .ant-dropdown-menu {
  padding: 4px;
  list-style-type: none;
  background-color:  #2d3748;
  background-clip: padding-box;
  color: #ffffff;
   
    border-radius: 8px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.dark .ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.dark .ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
    color: #4096ff;
    border-color: #4096ff;
    background: #2d3748;
}
